form {
    width: 70%;
    margin: auto;
}

.cgvLink {
    color: var(--gold);
    font-weight: bold;
}
.dropdown-select {
    position: absolute;
    z-index: 3;
    border: 1px solid rgba(220, 220, 220, 0.8);
    outline: none;
    left: 0;
    right: 0;
    display: none;
}

.dropdown-select:focus {
    outline: none;
}

.dropdown-select ul {
    overflow-y: auto;
}

.dropdown-select ul li {
    cursor: pointer;
    border-left: none;
    border-right: none;
}

.opened .dropdown-select {
    display: block;
}

.caret {
    font-size: 100% !important;
}

span {
    display: none;
}