.pressContact {
    margin: auto;
}

.firstArticle img {
    width: 200px;
}

i {
    color: var(--gold);
}

.hotelNews {
    border: 1px solid var(--gold);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.hotelNews img{
    width: 250px;
}

.col-3 {
    padding-left: unset;
}

.col-9 {
    align-self: center;
}