

.banner-whoAreWe {
    height: 45vh;
    position: relative;
    top: 0;
    left: 0;
}

.banner-whoAreWe img[src="img/qsn/qui_sommes_nous.png"] {
    height: 45vh;
    background-position: center 0px;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .5;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}


.titleBannerMini {
    margin: 0 auto;
    text-align: center;
}
.titleBannerMini h1{
    color: var(--anthracite);
}





.col{
    width: 500px;
    overflow: hidden;
}

img {
    width: 100%;
    height: auto;
}

.event,
.press,
.join,
.location {
    border: 1px solid var(--gold);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.options {
    border: none;
    height: 50px;
    color: var(--lightgold);
    text-align: center;
    box-shadow: none;
}
.textHistory .options img{
    color: var(--lightgold) !important;
}

.textHistory img{
    width: 26px;
}
.textHistory p{
    color: var(--anthracite);
}
.location h2{
    padding: 5px 20px 0 20px;
}
.location li img{
    width: 1.8rem;
}
.textHistory {
    padding: 0 50px;
}

.textHistory {
    align-self: center;
    justify-content: center;
} 

.textHistory p {
    text-align: justify;
}

.timeline2 {
    display: none;
}

.badge-primary {
    background-color: var(--lightgold);
    color: var(--anthracite);
}

.container-fluid iframe{
    width: 100%;
}

.center-btn {
    text-align: center;
}

@media (max-width: 991.98px) {
    .timeline1 {
        display: none;
    }

    .timeline2 {
        display: block;
    }
}
