.banner-classicRoom {
    height: 45vh;
    position: relative;
    top: 0;
    left: 0;
}

.banner-classicRoom img[src="img/rooms/banner_classique.jpg"],
.banner-classicRoom img[src="img/rooms/banner_comfort.jpg"],
.banner-classicRoom img[src="img/rooms/banner_deluxe.jpg"],
.banner-classicRoom img[src="img/rooms/banner_suite.jpg"] {
    height: 45vh;
    background-position: center 0px;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .5;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.titleBannerMini {
    margin: 0 auto;
    text-align: center;
    left: calc(50% - 293px);
    top: calc(50% - 140px);
}

.container{
    margin: 0 auto;
    text-align: center;
}

.classicText img{
    width: 30px;
    margin-right: 10px;
}


.classic_room{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.classic_room img {
    width: 280px;
    margin: 0 20px;
    height: 100%;
}

.description{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 290px;
}


.description .textDescription{
    border: 1px solid var(--lightgold);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    margin-right: 40px;
    text-align: left;
    height: 100%;
}

.description .prix {
    margin-right: 0;
}


.description .text p{
    padding: 2px;
}

.description .text button{
    background-color: var(--lightgold);
    color: #fff;
    justify-content: center;
}

.description h4{
    padding-bottom: 20px;
    text-align: center;
}

.description .text p{
    text-align: center;
}

.description .text ul{
    padding: 20px;
}

.description .text li{
    list-style-type: disc;
}






















.categories .picture1 {
    position: relative;
    background-image: url('../img/rooms/chambre_confort03.jpg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 280px;
    width: 100px;
}

.categories .picture2 {
    position: relative;
    background-image: url('../img/rooms/chambre_deluxe03.jpg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 280px;
    width: 100px;
}

.categories .picture3 {
    position: relative;
    background-image: url('../img/rooms/suite1.jpg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 280px;
    width: 100px;
}

.categories .picture4 {
    position: relative;
    background-image: url('../img/rooms/chambre_classique02.jpg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 280px;
    width: 100px;
}


.categories .bandeau {
    position: absolute;
    z-index: 2;
    top: 65%;
    background-color: white;
    width: 100%;
    height: 50px;
    border: 1px solid var(--lightgold);
}

@media (max-width: 991.98px) {
    img[src="img/rooms/classic_room.jpg"] {
        width: 100%;
    }

    .description {
        height: 100%;
    }

    .description .textDescription {
        margin-right: 0;
        padding-bottom: 10px;
    }

    .description .prix {
        width: 100%;
        padding-bottom: 0;
    }

    .categories .bandeau {
        left: 0;
    }
}