:root {
    --anthracite: #1d1d1d;
    --lightgold : #D9B77B;
    --gold : #C89740;
}

@font-face {
    font-family: "Canter";
    src: url("../fonts/Canter-Bold.woff2") format("woff2"),
        url("../fonts/Canter-Bold.woff") format("woff");
}

@font-face {
    font-family: "Orkney";
    src: url("../fonts/Orkney-Light.woff2") format("woff2"),
        url("../fonts/Orkney-Light.woff") format("woff");
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    color : var(--anthracite);
    font-family: "Roboto";
}

.uniqueShadow {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#titleBanner {
    position: absolute;
    z-index: 10;
    left: 15%;
    top: 20%;
}

#titleBanner img {
    height: 100%;
    -webkit-filter: drop-shadow(1px 1px 2px var(--anthracite));
    filter: drop-shadow(1px 1px 2px var(--anthracite));
}
.pBanner {
    font-family: "Orkney";
    font-size: 2em;
    text-shadow: 1px 0px 5px white;
    font-weight: bold;
    color:  var(--anthracite);
}

.separator {
    background-color: var(--gold);
    display: block;
    height: 1px;
    width: 100%;
    margin-bottom: 1em;
    box-shadow :1px 1px 2px var(--anthracite);
}
.banner h1{
    color: var(--anthracite);
}
h1 {
    font-family: "Canter";
    font-size: 10em;
    text-shadow: 1px 0px 5px white;
}

.stars {
    font-size: .5em;
    vertical-align: top;
    color: var(--gold);
    text-shadow: 1px 1px 2px var(--anthracite);
}

h2,
h3,
h4,
h5,
h6 {
    font-family: "Orkney";
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.col {
    padding-left: 0;
    padding-right: 0;
}
ul {
    list-style-type: none;
    margin-left:0;
    padding-left:0;
}

/* SLIDER */
.banner img {
    height: 100vh;
}

.carousel-item {
    opacity: .5;
}
/* NAVIGATION */
#logo {
    width: 60px;
    -webkit-filter: drop-shadow(1px 1px 2px var(--anthracite));
    filter: drop-shadow(1px 1px 2px var(--anthracite));
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
    transition: all .5s;
}

.collapse ul li a,
.collapse ul li a:after,
.collapse ul li a:before {
    transition: all .5s;
}

.navbar-nav a {
    color: rgba(0,0,0,.5);
    text-decoration: none;
}

.navbar-nav a:hover {
    color: var(--anthracite);
}
.navbar-nav img{
    width: 20px;
}

.sticky {
    position: sticky;
    top: 0;
    z-index: 1000;
}

/* stroke */
nav.stroke ul li a,
.collapse.stroke ul li a {
    position: relative;
}

nav.stroke ul li a:after,
.collapse.stroke ul li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: var(--gold);
    height: 2px;
}

nav.stroke ul li a:hover,
.collapse.stroke ul li a:hover {
    font-weight: bold;
}

nav.stroke ul li a:hover:after,
.collapse.stroke ul li a:hover:after {
    width: 100%;
}

.btn-outline-success {
    border-color: var(--gold);
    color: var(--gold);
}

.btn-outline-success:hover {
    background-color: var(--gold);
    border-color: var(--gold);
}

.container{
    padding: 120px;
}

.container-fluid{
    background: var(--anthracite);
    
}
.suite{
    margin: auto;
}
.suitePage .suite img{
    width: 34em;
    margin-right: 50px;
}
.suitePage .suite p{
    margin-top: 30px;
}
.suiteContainer{
    display: flex;
    flex-wrap: nowrap;
}
.suiteContainer .suiteText{
    padding: 30px 0 0 30px;
}
.suiteContainer .suiteText img{
    width: 1.8em;
    padding: 5px 0;
    margin-right: 10px;
}
.suite_room{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
.suite_room img{
    width: 30em;
    padding-right: 15px;
}

.description{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.description h4{
    color: var(--lightgold);
}
.description .text{
    height: auto;
    width: auto;
    border: 3px solid var(--lightgold);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    margin-right: 40px;
}
.description .text:nth-child(1){
    min-width: 350px;
    border: 3px solid var(--lightgold);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.description .text:nth-child(2){
    min-width: 350px;
    border: 3px solid var(--lightgold);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.description .text:nth-child(3){
    min-width: 350px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border: 3px solid var(--lightgold);
}
.description .text p{
    padding: 2px;
}
.description .text button{
    background-color: var(--lightgold);
    color: #fff;
    justify-content: center;
}
.description h4{
    padding-bottom: 20px;
    text-align: center;
}
.description .text p{
    text-align: center;
}
.description .text ul{
    padding: 20px;
}
.description .text li{
    list-style-type: disc;
}
.categories{
    position: relative;
    text-align: center;
}
.categories h2{
    color: var(--lightgold);
}
.categories li{
    display: inline-block;
    margin-top: 40px;
    margin-right: 30px;
}
.categories img{
    width: 24em;
    display: block;
    border: 1px solid var(--gold);
}
.categories figcaption{
    position: absolute;
    top: 220px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    width: 22%;
    background-color: #fff;
}
.categories a{
    color: var(--gold);
}
.categories a:hover{
    text-decoration: none;
}

.banner-suite img[src="img/banner_suite.jpg"] {
    height: 45vh;
    background-position: center 0px;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .5;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}


.titleBannerMini {
    margin: 0 auto;
    text-align: center;
}
.banner-suite {
    height: 45vh;
    position: relative;
    top: 0;
    left: 0;
}


.container-fluid{
    background: var(--anthracite);
    
}


/* FOOTER */
.basDePage{
    color: var(--anthracite);
    background-color: #fff;
}
.basDePage .row {
    margin: auto;
    align-content: flex-start;
}

.iconesFooter {
    justify-content: space-between;
}

.iconesFooter i {
    color: var(--lightgold);
    font-size: 2.2em;
}

.iconesFooter img {
    width: 50px;
}

.iconesFooter i:hover {
    color: var(--gold);
    animation: swing;
    animation-duration: 1s;
    transition: ease-out 1s;
}

.iconesFooter img:hover {
    color: var(--gold);
}

footer {
    background-color: var(--lightgold);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
}

footer .row {
    align-items: flex-end;
}

footer p {
    line-height: 5px;
    font-size: 1em;
}

footer h3 {
    font-family: "Canter";
    font-size: 2.5em;
    color: var(--anthracite);
}