:root {
    --anthracite: #1d1d1d;
    --lightgold : #D9B77B;
    --gold : #C89740;
}

@font-face {
    font-family: "Canter";
    src: url("../fonts/Canter-Bold.woff2") format("woff2"),
        url("../fonts/Canter-Bold.woff") format("woff");
}

@font-face {
    font-family: "Orkney";
    src: url("../fonts/Orkney-Light.woff2") format("woff2"),
        url("../fonts/Orkney-Light.woff") format("woff");
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto";
}

.uniqueShadow {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#titleBanner {
    position: absolute;
    z-index: 10;
    left: 15%;
    top: 20%;
}

#titleBanner img {
    height: 100%;
    -webkit-filter: drop-shadow(1px 1px 2px var(--anthracite));
    filter: drop-shadow(1px 1px 2px var(--anthracite));
}
.pBanner {
    font-family: "Orkney";
    font-size: 2em;
    text-shadow: 1px 0px 5px white;
    font-weight: bold;
    color:  var(--anthracite);
}

.separator {
    background-color: var(--gold);
    display: block;
    height: 1px;
    width: 100%;
    margin-bottom: 1em;
    box-shadow :1px 1px 2px var(--anthracite);
}
.banner h1{
    color: var(--anthracite);
}
h1 {
    font-family: "Canter";
    font-size: 10em;
    text-shadow: 1px 0px 5px white;
}

.stars {
    font-size: .5em;
    vertical-align: top;
    color: var(--gold);
    text-shadow: 1px 1px 2px var(--anthracite);
}

h2,
h3,
h4,
h5,
h6 {
    font-family: "Orkney";
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.col {
    padding-left: 0;
    padding-right: 0;
}
ul {
    list-style-type: none;
    margin-left:0;
    padding-left:0;
}

/* NAVIGATION */
#logo {
    width: 60px;
    -webkit-filter: drop-shadow(1px 1px 2px var(--anthracite));
    filter: drop-shadow(1px 1px 2px var(--anthracite));
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
    transition: all .5s;
}

.collapse ul li a,
.collapse ul li a:after,
.collapse ul li a:before {
    transition: all .5s;
}

.navbar-nav a {
    color: rgba(0,0,0,.5);
    text-decoration: none;
}

.navbar-nav a:hover {
    color: var(--anthracite);
}
.navbar-nav img{
    width: 20px;
}

.sticky {
    position: sticky;
    top: 0;
    z-index: 1000;
}

/* stroke */
nav.stroke ul li a,
.collapse.stroke ul li a {
    position: relative;
}

nav.stroke ul li a:after,
.collapse.stroke ul li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: var(--gold);
    height: 2px;
}

nav.stroke ul li a:hover,
.collapse.stroke ul li a:hover {
    font-weight: bold;
}

nav.stroke ul li a:hover:after,
.collapse.stroke ul li a:hover:after {
    width: 100%;
}

.btn-outline-success {
    border-color: var(--gold);
    color: var(--gold);
}

.btn-outline-success:hover {
    background-color: var(--gold);
    border-color: var(--gold);
}
/* fin de la navigation */

.siteMap{
    padding: 5%;
}
.siteMap h2{
    text-align: center !important;
    padding: 50px;
}
.siteMap ul{
    padding-left: 3%;
    list-style: inside;
}
.siteMap .fas, .siteMapTitle{
    color: var(--gold) !important;
}
.siteMap a{
    color: var(--anthracite);
}
/* FOOTER */
.basDePage{
    color: var(--anthracite);
    background-color: #fff;
}
.basDePage .row {
    margin: auto;
    align-content: flex-start;
}

.iconesFooter {
    justify-content: space-between;
}

.iconesFooter i {
    color: var(--lightgold);
    font-size: 2.2em;
}

.iconesFooter img {
    width: 50px;
}

.iconesFooter i:hover {
    color: var(--gold);
    animation: swing;
    animation-duration: 1s;
    transition: ease-out 1s;
}

.iconesFooter img:hover {
    color: var(--gold);
}

footer {
    background-color: var(--lightgold);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
}

footer .row {
    align-items: flex-end;
}

footer p {
    line-height: 5px;
    font-size: 1em;
}

footer h3 {
    font-family: "Canter";
    font-size: 2.5em;
    color: var(--anthracite);
}
